<style>
  .committee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .card-commitee-h5{
    color: #FF0800;
    font-weight: 700;
  }
</style>
  <div class="committee">
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
      <div class="col">
        <div class="card h-100">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-commitee-h5 card-title">Assoc. Prof. Dr. Vanphanom Sychareun</h5>
            <p class="card-text">Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-commitee-h5 card-title">Dr. Latsamy Siengsounthone </h5>
            <p class="card-text">Lao Tropical and Public Health Institute (LaoTPHI)
              Ministry of Health, Lao PDR</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-commitee-h5 card-title">Dr. Sengphachanh Phimmavongsa</h5>
            <p class="card-text">Vice Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-commitee-h5 card-title">Dr. Phetsamone Mathouchanh</h5>
            <p class="card-text">Vice Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-commitee-h5 card-title">Dr. Khamtim Samountry</h5>
            <p class="card-text">Vice Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
          </div>
        </div>
      </div>
    </div>
  </div>