<style>
  .deans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .deans-box {
    text-align: center;
    width: 250px;
    height: 370px;
    box-shadow: 5px 5px 5px#cecccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
  }

  .deans-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .deans-box h5 {
    padding: 10px 0 0 0;
    font-weight: bold;
    color: rgb(6, 6, 184);
    height: 70px;
    /* background-color: aqua; */
  }

  .deans-box p {
    padding: 10px 0 0 0;
    height: 80px;
    /* background-color: blue; */
  }
</style>
<div>
  <div class="deans">
    <div class="deans-box">
      <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
      <div style="background-color: #ced4da;">
        <h5>Assoc. Prof. Dr. Vanphanom Sychareun</h5>
        <p>Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
      </div>
    </div>
    <div class="deans-box">
      <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
      <div style="background-color: #ced4da;">
        <h5>Dr. Latsamy Siengsounthone</h5>
        <p>Lao Tropical and Public Health Institute (LaoTPHI) Ministry of Health, Lao PDR</p>
      </div>
    </div>
    <div class="deans-box">
      <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
      <div style="background-color: #ced4da;">
        <h5>Prof. Dr. Wongsa Laohasiriwong </h5>
        <p>Dean, Faculty of Public Health, KhonKaen University, Thailand</p>
      </div>
    </div>
    <div class="deans-box">
      <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
      <div style="background-color: #ced4da;">
        <h5>Prof. Dang Thi Anh Thu</h5>
        <p>Dean of Hue University of Medicine and Pharmacy, Vietnam</p>
      </div>
    </div>
  </div>
  <br>
  <div class="deans">
    <div class="deans-box">
      <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
      <div style="background-color: #ced4da;">
        <h5>Prof. Dr. Cai Le</h5>
        <p>Dean, Kunming Medical University, China</p>
      </div>
    </div>
    <div class="deans-box">
      <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
      <div style="background-color: #ced4da;">
        <h5>Prof. Chhea Chhorvann</h5>
        <p>Dean, School of Public Health, National Institute of Public Health, Cambodia</p>
      </div>
    </div>
    <div class="deans-box">
      <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
      <div style="background-color: #ced4da;">
        <h5>Prof. Hla Hla Win </h5>
        <p>University of Public Health, Myanmar</p>
      </div>
    </div>
  </div>


</div>