<style>
  .deans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
    .deans-box {
        text-align: center;
        width: 200px;
        height: 400px;
        box-shadow: 5px 5px 5px #e2e2e2;
        background-color: #fff;
        padding: 5px;
    }
    .deans-box img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .deans-box h5{
        padding: 20px 0;
        font-weight: bold;
        color: rgb(6, 6, 184);
        height: 80px;
    }
    .deans-box p{
        padding: 20px 0;
        height: 120px;
    }
</style>
  <div class="deans">
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Assoc. Prof. Dr. Vanphanom Sychareun </h5>
      <p>Dean Faculty of Public Health</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Dr. Latsamy<br>Siengsounthone</h5>
      <p>Lao Tropical Public Health Institute </p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Assoc. Prof. Kongmany Chaleunvong</h5>
      <p>Director of Institute of Reseach and Education</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Dr. Visanou Hansana</h5>
      <p>Vice Director of Institute of Reseach and Education</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Assoc. Prof. Dr. Alongkone Phengsavanh  </h5>
      <p>Vice Dean Faculty of Medecine </p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Professor Dr. Wongsa Laohasiriwong </h5>
      <p>Dean, Faculty of Public Health, KhonKaen</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Prof Dang Thi Anh Thu</h5>
      <p>Dean of Hue University of Medicine and Pharmacy, Vietnam</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Prof. Hoang Van Minh </h5>
      <p>Dean of Hanoi University of Public Health</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Prof.Dr. Cai Le</h5>
      <p>Dean, Kunming Medical University, China</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Prof. Chhea Chhorvann</h5>
      <p>Dean, School of Public Health, National Institute of Public Health, Cambodia             </p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Prof. Hla Hla Win </h5>
      <p>University of Public Health, Myanmar</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Professor Dr. Chitlada Areesantichai	</h5>
      <p>Dean, College of Public Health Sciences, Chulalongkorn University</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Accociate Prof Dr. Sarawut Thepanondh	me</h5>
      <p>Dean, Faculty of Public Health, Mahidol University	</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Yuvadee Rodjarkpai	</h5>
      <p>Dean, Faculty of Public Health, Burapha University, Thailand</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Sasitorn Taptagaporn</h5>
      <p>Dean, Faculty of Public Health, Thammasat, University</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Nithra Kitreerawutiwong</h5>
      <p>Dean, Faculty of Public Health, Naresuan University, Thailand</p>
    </div>

    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Sumattana Glangkarn</h5>
      <p>Dean, Faculty of Public Health, Mahasarakham University, Thailand </p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Tanida Phatisena</h5>
      <p>Dean, Public Health, Nakhon ratchasima Rajabhat , Thailand</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Dr. Wallapa Choeibuakaew</h5>
      <p>Dean, Faculty of Health and Sports Science, Thaksin University, Thailand</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Somkid Juwa</h5>
      <p>Dean, School of Public Health, University of Phayao, Thailand</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Araya Prasertchai</h5>
      <p>Dean, School of Health Sciences, Sukhothai Thammathirat Open University, Thailand</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Assistant Professor Dr. Supabhorn Yimthiang</h5>
      <p>Dean, School Public Health, Walailak University, Thailand </p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Professor Dr. Suwat Chariyalertsak</h5>
      <p>Dean, Faculty of Public Health, Chiang Mai University, Thailand</p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Associate Professor Dr. Sribud Srichaijaroonpong</h5>
      <p>Dean, Faculty of Public Health, Kasetsart University, Thailand </p>
    </div>
    <div class="deans-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Asst.Prof.Dr.Kitti Laosupap </h5>
      <p>College of Medicine and Public Health UbonRachathani University </p>
    </div>
  </div>