<style>
  .deans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
    .deans-box {
        text-align: center;
        width: 250px;
        height: 380px;
        box-shadow: 5px 5px 5px#cecccc;
        border-radius: 5px;
        background-color: #fff;
        padding: 5px;
    }
    .deans-box img{
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    .deans-box h5{
        padding: 10px 0 0 0;
        font-weight: bold;
        color: rgb(6, 6, 184);
        height: 60px;
    }
    .deans-box p{
        padding: 10px 0 0 0;
        height: 60px;
    }
</style>
  <div >
    <div class="deans">
      <div class="deans-box">
        <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
        <h5>Assoc. Prof. Dr. Vanphanom Sychareun </h5>
        <p>Dean Faculty of Public Health</p>
      </div>
      <div class="deans-box">
        <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
        <h5>Prof. Dr. Wongsa Laohasiriwong </h5>
        <p>Dean, Faculty of Public Health, KhonKaen</p>
      </div>
      <div class="deans-box">
        <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
        <h5>Prof. Dang Thi Anh Thu</h5>
        <p>Dean of Hue University of Medicine and Pharmacy, Vietnam</p>
      </div>
    </div>
    <br>
    <div class="deans">
      <div class="deans-box">
        <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
        <h5>Prof. Dr. Cai Le</h5>
        <p>Dean, Kunming Medical University, China</p>
      </div>
      <div class="deans-box">
        <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
        <h5>Prof. Chhea Chhorvann</h5>
        <p>Dean, School of Public Health, National Institute of Public Health, Cambodia             </p>
      </div>
      <div class="deans-box">
        <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;">
        <h5>Prof. Hla Hla Win </h5>
        <p>University of Public Health, Myanmar</p>
      </div>
    </div>
   
    
  </div>