<style>
  .rector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
    .rector-box {
        text-align: center;
        width: 250px;
        height: auto;
        box-shadow: 5px 5px 5px #e2e2e2;
        background-color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .rector-box img{
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    .rector-box h5{
        padding: 10px 0;
        font-weight: bold;
        color: darkgreen;
        height: auto;
    }
    .rector-box p{
        height: auto;
        padding: 10px 0;
    }
</style>
    <div class="rector">
    <div class="rector-box">
      <img src="./assets/img/rectors_deans/rector.jpeg" style="border-radius: 50%; padding: 20px;">
      <h5>Assoc. Prof. Dr. Vanphanom Sychareun</h5>
      <p>Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
    </div>
  </div>
