<style>
  .rector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
    .rector-box {
        text-align: center;
        width: 250px;
        height: 400px;
        box-shadow: 5px 5px 5px #e2e2e2;
        background-color: #fff;
        padding: 5px;
    }
    .rector-box img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .rector-box h5{
        padding: 20px 0;
        font-weight: bold;
        color: darkgreen;
        height: 80px;
    }
    .rector-box p{
        height: 120px;
        padding: 20px 0;
    }
</style>
  <div class="rector">
    <div class="rector-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Assoc. Prof. Dr. Bounthom Samountry</h5>
      <p>Rector of University of Health Sciences, Lao PDR</p>
    </div>

    <div class="rector-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Prof. Dr. Mayfong Maysay</h5>
      <p>Vice Rector of University of Health Sciences, Lao PDR</p>
    </div>

    <div class="rector-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Assoc. Prof. Dr. Vanphanom Sychareun</h5>
      <p>Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
    </div>

    <div class="rector-box">
      <img src="./assets/img/no-photo.jpg">
      <h5>Dr. Latsamy<br>Siengsounthone </h5>
      <p>Lao Tropical and Public Health Institute (LaoTPHI)
        Ministry of Health, Lao PDR
        </p>
    </div>
  </div>