<style>
  .rector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
    .rector-box {
        text-align: center;
        width: 250px;
        height: auto;
        box-shadow: 5px 5px 5px #e2e2e2;
        background-color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .rector-box img{
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    .rector-box h5{
        padding: 10px 0;
        font-weight: bold;
        color: darkgreen;
        height: auto;
    }
    .rector-box p{
        height: auto;
        padding: 10px 0;
    }
</style>
    <div class="rector">
    <!-- <div class="rector-box">
      <img src="./assets/img/rectors_deans/rector.jpeg" style="border-radius: 50%; padding: 20px;">
      <h5>Assoc. Prof. Dr. Bounthom Samountry</h5>
      <p>President of the University of Health Sciences, Lao PDR</p>
    </div> -->
      <div class="text-white">
        <img src="./assets/img/rectors_deans/rector.jpeg" style="border-radius: 50%; padding: 20px; float: right; width: 21%; height: 21%;">
        <p style="text-align: justify; font-size: 21px; color: #fff5f5;">Dear Esteemed Colleagues and Participants,</p>

        <p style="text-align: justify; font-size: 21px; color: #fff5f5;">On behalf of the organizing committee, it is our great pleasure to extend a warm welcome to the 14<sup>th</sup> International Conference on Public Health among Greater Mekong Sub-Regional countries. The conference, themed "Meeting the Sustainable Development Goals through Improved Nutrition, Health Equity, and Climate Change Adaptation," will be held in the picturesque city of Luangprabang City from 27-29 June 2024.</p>
          
        <p style="text-align: justify; font-size: 21px; color: #fff5f5;"> We are excited to bring together experts, practitioners, researchers, and policymakers from across the Greater Mekong Sub-Region to exchange knowledge, share best practices, and collaborate on addressing the pressing public health challenges facing our communities. With a focus on improving nutrition, promoting health equity, and adapting to climate change, we aim to advance the collective efforts towards achieving the Sustainable Development Goals in the region.</p>
          
        <p style="text-align: justify; font-size: 21px; color: #fff5f5;"> The conference will feature engaging scientific sessions, interactive poster discussions, and insightful oral presentations, providing a platform for meaningful dialogue and knowledge dissemination. We are confident that the conference will foster productive discussions and lead to innovative solutions that will contribute to the advancement of public health in our region.</p>
          
        <p style="text-align: justify; font-size: 21px; color: #fff5f5;"> We would like to appreciate to Purdue and Indianna University for technical support and special thank for key donor support from USAID through ANRCB project Lao PDR to this conference.</p>
          
        <p style="text-align: justify; font-size: 21px; color: #fff5f5;"> We look forward to welcoming you to Luangprabang City and to the vibrant exchange of ideas and experiences that will take place during the conference. Together, let us work towards building a healthier, more equitable, and sustainable future for all.</p>
          
        <p style="font-size: 22px; color: #fff5f5;"><br>With warm regards,<br>
          
          <br><b>Assoc. Prof. Dr. Bounthom Samountry</b><br>
          
          <br><b>President of the University of Health Sciences,</b>
          <br>The Organizing Committee
          14th International Conference on Public Health among Greater Mekong Sub-Regional Countries
          </p>
      </div>
  </div>
