<style>
    .committee-scientific {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .committee-box-area {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }

    .committee-box-scientific {
        text-align: center;
        width: 30%;
        height: auto;
        box-shadow: 5px 5px 5px #e2e2e2;
        border-radius: 5px;
        background-color: #fff;
        padding: 5px;
    }

    .committee-box-scientific img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .committee-box-scientific h5 {
        padding: 10px 0;
        font-weight: bold;
        color: #910583;
        height: auto;
    }

    .committee-box-scientific p {
        padding: 0 0;
        height: auto;
    }
</style>
<div class="committee-scientific">
    <div class="committee-box-area">
        <!-- Assoc. Prof. Dr. Vanphanom Sychareun -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Vanphanom Sychareun</h5>
            <p>Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
        </div>

        <!-- Dr. Latsamy Siengsounthone -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Dr. Latsamy Siengsounthone</h5>
            <p>Lao Tropical and Public Health Institute, Lao PDR</p>
        </div>

        <!-- Assoc. Prof. Kongmany Chaleunvong -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Kongmany Chaleunvong</h5>
            <p>Director of Institute of Research and Education Development, University of Health Sciences, Lao PDR</p>
        </div>
    </div>

    <div class="committee-box-area">
        <!-- Dr. Visanou Hansana -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Dr. Visanou Hansana</h5>
            <p>Vice Director of Institute of Research and Education Development, University of Health Sciences, Lao PDR
            </p>
        </div>

        <!-- Assoc. Prof. Dr. Alongkone Phengsavanh -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Alongkone Phengsavanh</h5>
            <p>Vice Dean Faculty of Medicine, University of Health Sciences, Lao PDR</p>
        </div>

        <!-- Prof. Dr. Wongsa Laohasiriwong -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Dr. Wongsa Laohasiriwong</h5>
            <p>Dean, Faculty of Public Health, KhonKaen University, Thailand</p>
        </div>
    </div>
    <div class="committee-box-area">
        <!-- Prof. Dang Thi Anh Thu -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Dang Thi Anh Thu</h5>
            <p>Dean of Hue University of Medicine and Pharmacy, Vietnam</p>
        </div>

        <!-- Prof. Hoang Van Minh -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Hoang Van Minh</h5>
            <p>Rector, Hanoi University of Public Health, Vietnam</p>
        </div>

        <!-- Prof. Dr. Cai Le -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Dr. Cai Le</h5>
            <p>Dean, Kunming Medical University, China</p>
        </div>
    </div>

    <div class="committee-box-area">
        <!-- Prof. Chhea Chhorvann -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Chhea Chhorvann</h5>
            <p>Dean, School of Public Health, National Institute of Public Health, Cambodia</p>
        </div>

        <!-- Prof. Hla Hla Win -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Hla Hla Win</h5>
            <p>Rector, University of Public Health, Myanmar</p>
        </div>

        <!-- Prof. Dr. Chitlada Areesantichai -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Dr. Chitlada Areesantichai</h5>
            <p>Dean, College of Public Health Sciences, Chulalongkorn University, Thailand</p>
        </div>
    </div>
    <div class="committee-box-area">
        <!-- Assoc. Prof. Dr. Sarawut Thepanondh -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Sarawut Thepanondh</h5>
            <p>Dean, Faculty of Public Health, Mahidol University, Thailand</p>
        </div>

        <!-- Assoc. Prof. Dr. Yuvadee Rodjarkpai -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Yuvadee Rodjarkpai</h5>
            <p>Dean, Faculty of Public Health, Burapha University, Thailand</p>
        </div>

        <!-- Assoc. Prof. Dr. Sasitorn Taptagaporn -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Sasitorn Taptagaporn</h5>
            <p>Dean, Faculty of Public Health, Thammasat University, Thailand</p>
        </div>
    </div>
    <div class="committee-box-area">
        <!-- Assoc. Prof. Dr. Nithra Kitreerawutiwong -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Nithra Kitreerawutiwong</h5>
            <p>Dean, Faculty of Public Health, Naresuan University, Thailand</p>
        </div>

        <!-- Assoc. Prof. Dr. Sumattana Glangkarn -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Sumattana Glangkarn</h5>
            <p>Dean, Faculty of Public Health, Mahasarakham University, Thailand</p>
        </div>

        <!-- Assoc. Prof. Dr. Tanida Phatisena -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Tanida Phatisena</h5>
            <p>Dean, Public Health, Nakhon ratchasima Rajabhat, Thailand</p>
        </div>
    </div>
    <div class="committee-box-area">
        <!-- Dr. Wallapa Choeibuakaew -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Dr. Wallapa Choeibuakaew</h5>
            <p>Dean, Faculty of Health and Sports Science, Thaksin University, Thailand</p>
        </div>

        <!-- Assoc. Prof. Dr. Somkid Juwa -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Somkid Juwa</h5>
            <p>Dean, School of Public Health, University of Phayao, Thailand</p>
        </div>

        <!-- Assoc. Prof. Dr. Araya Prasertchai -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Araya Prasertchai</h5>
            <p>Dean, School of Health Sciences, Sukhothai Thammathirat Open University, Thailand</p>
        </div>
    </div>
    <div class="committee-box-area">
        <!-- Assoc. Prof. Dr. Supabhorn Yimthiang -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Supabhorn Yimthiang</h5>
            <p>Dean, School Public Health, Walailak University, Thailand</p>
        </div>

        <!-- Prof. Dr. Suwat Chariyalertsak -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Prof. Dr. Suwat Chariyalertsak</h5>
            <p>Dean, Faculty of Public Health, Chiang Mai University, Thailand</p>
        </div>

        <!-- Assoc. Prof. Dr. Sribud Srichaijaroonpong -->
        <div class="committee-box-scientific">
            <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
            <h5>Assoc. Prof. Dr. Sribud Srichaijaroonpong</h5>
            <p>Dean, Faculty of Public Health, Kasetsart University, Thailand</p>
        </div>
    </div>
    <!-- Asst. Prof. Dr. Kitti Laosupap -->
    <div class="committee-box-scientific">
        <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
        <h5>Asst. Prof. Dr. Kitti Laosupap</h5>
        <p>College of Medicine and Public Health, UbonRachathani University, Thailand</p>
    </div>

</div>