<style>
    .committee-steering {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
      .committee-box-steering {
          text-align: center;
          width: 200px;
          height: 200px;
          box-shadow: 5px 5px 5px #e2e2e2;
          border-radius: 5px;
          background-color: #fff;
          padding: 5px;
      }
      .committee-box-steering img{
          width: 100%;
          height: 200px;
          object-fit: cover;
      }
      .committee-box-steering h5{
          padding: 20px 0;
          font-weight: bold;
          color: #cc4609;
          /* height: 90px; */
      }
      .committee-box-steering p{
          padding: 0 0;
          /* height: 110px; */
      }

  </style>
    <div class="committee-steering">
      <div class="committee-box-steering">
        <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
        <h5>Assoc. Prof. Dr. Bounthom Samountry</h5>
        <p>Rector of University of Health Sciences, Lao PDR</p>
      </div>
  
      <div class="committee-box-steering">
        <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
        
        <h5>Prof. Dr. Mayfong Mayxay</h5>
        <p>Vice Rector of University of Health Sciences, Lao PDR 
          </p>
      </div>
  
      <div class="committee-box-steering">
        <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
        
        <h5>Assoc. Prof. Dr. Vanphanom Sychareun</h5>
        <p>Dean Faculty of Public Health, University of Health Sciences, Lao PDR</p>
      </div>
  
      <div class="committee-box-steering">
        <!-- <img src="./assets/img/avatar/avatar-person.svg" style="border-radius: 50%; padding: 20px;"> -->
        
        <h5>Dr. Latsamy Siengsounthone</h5>
        <p>Lao Tropical and Public Health Institute (LaoTPHI)
            Ministry of Health, Lao PDR</p>
      </div>
  
     
    </div>